.H1{
    background-color: orange;
    text-align: center;

}
.P1{
    color: maroon;
    font-family: 'Times New Roman';

}
#b{
    color: red;
} 
#i{
    color: red;
}
.H2{
    color: chocolate;

}
.root{
    margin: 2%;

}
