header {   
    display: inline;
    text-align: center;  
}  
header  a {  
    color: blue;  
    text-decoration: none;  
}  
*{
background-color: lightblue
}
h1,
h2,
h3{
font-style: italic;
font-family: 'Times New Roman', Times, serif;
}
body{
border: black solid 5px;
}
.div1{
    padding: 10px;
}
#img2{
    size: 50px;
}
#p1{
color: var(--customColor2);
}

#logo{
    background-color: var(--customColor3);
}

#form{
    padding-left: 90%;
    padding-top: 20px;
}
#p3 i:first-child{
    color: var(--customColor1);
}
#p2::first-letter{
    color: var(--customColor4);
}

:root{
    --customColor1: #00cc00;
    --customColor2: #ff9ba1;
    --customColor3: #655ba1;
    --customColor4: #ff8f0d;
}

@media screen and (max-width: 450px) {
    body{
        padding: auto;
        text-align: center;
    }
}